.main-image {
    width: 50%;
    border: none;
    display: block; 
    margin-left: auto;
    margin-right: auto;
  }
  
  .search-container {
    border: 3px solid rgb(47, 199, 47);
    display: block; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    width: 70%;
  }
  
  .search-text {
    border: none;
    display: inline-block; 
    height: 44px;
    width: 85%;
    font-size: 20px;
    position: relative;
  }
  
  .search-button {
    position: relative; 
    height: 50px;
    line-height: 10px;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: rgb(47, 199, 47);
    color: white;
    border: none;
    width: 15%;
    font-weight: bold;
    font-size: 20px;
    display: inline-block; 
  }

@media screen and (max-width: 700px){
  .main-image {
    width: 120%;
    border: none;
    display: block; 
    margin-left: auto;
    margin-right: auto;
  }
  
  .search-container {
    border: 3px solid rgb(47, 199, 47);
    display: block; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    width: 120%;
  }
  
  .search-text {
    border: none;
    display: inline-block; 
    height: 44px;
    width: 80%;
    font-size: 18px;
    position: relative;
  }
  
  .search-button {
    position: relative; 
    height: 50px;
    line-height: 10px;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: rgb(47, 199, 47);
    color: white;
    border: none;
    width: 20%;
    font-weight: bold;
    font-size: 20px;
    display: inline-block; 
  }
}
